---
import Layout from '../../../layouts/Layout.astro';
import Menu from '../../../components/menu.astro';
---

<Layout title="NECESSARY ">
    <div class="contenedor">
        <Menu></Menu>

        <section class="info">
            <h1>¿Qué es un driver?</h1>
            <p class="definicion">Un driver o controlador es un pequeño software que permite que el sistema operativo (como Windows o Linux) reconozca y controle un hardware específico. Sin este software, muchos componentes no funcionarían o lo harían de forma limitada.</p>

            <div class="resaltado">
                <p class="marcado">
                    Ejemplo: Si instalas Windows pero no hay driver de red, no tendrás acceso a Internet.
                </p>

            </div>
            
            <h2>  ¿Para qué sirven los drivers en el mantenimiento e instalación?</h2>
            <ul>
                <li> <strong></strong>Activar la tarjeta de video para mejor calidad gráfica.</li>
                <li> <strong></strong>Garantizar que el equipo esté 100% funcional después del mantenimiento.</li>
                <li> <strong></strong>Usar el adaptador Wi-Fi o Ethernet para conectarse a Internet.</li><br>
               
            </ul>

            <h2>¿Cómo instalar los drivers correctamente?</h2>
            <p class="definicion">existen diferentes maneras para instalar o actualizar drivers las mas comunes son: desde la pagina del fabricante , usando el administrador de dispositivos y usando paquetes automaticos (mi favorita)</p><br>

            <h2>Desde la pagina del fabricante</h2>
            <ul>
                <li> <strong></strong>Clic derecho en el botón de Inicio → Administrador de dispositivos.</li>
                <li> <strong></strong>Los dispositivos con errores aparecerán con un símbolo amarillo (¡).</li>
                <li> <strong></strong>Usar el adaptador Wi-Fi o Ethernet para conectarse a Internet.</li><br>
            
            </ul>

            <div class="resaltado">
                <p class="marcado">
                    Las maquinas virtuales tienen múltiples usos, como pruebas de software, desarrollo, formación y ejecución de sistemas operativos diferentes al del host, Pruebas de seguridad, recuperación ante desastres y ejecución de aplicaciones heredadas. 
                </p>

            </div>

            <h2>Como instalar y usar VirtualBox</h2>
            
           <iframe width="690" height="315" src="https://www.youtube.com/embed/hZ5J-wYuIO0?si=Xs-FoJJaeOSYlnH1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>



        </section>
        
    </div>
  
</Layout>

<style>
.contenedor {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-bottom: 8rem;
    background-color:#101111cb;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:start;
    /* background-color: #101111cb; */
     max-width: 75rem;
}

    .info h1 {
        color: #14ff72;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        position:relative;
        margin-top: 5rem;
        margin-left: 10rem;
       
    }

    .definicion {
        color: #ffffff;
        font-size: 1rem;
        margin-left: 10rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
    }

    h2 {
        color: #14ff72;
        font-size: 1.8rem;
        margin-left: 10rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .info ul {
        color: #ffffff;
        font-size: 1rem;
        margin-left: 10rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
    }
    .marcado {
         color: #14ff72;
        font-size: 1rem;
        margin-left: .5rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
       
    }

    .resaltado {
        border-left: #14ff72 solid 3px;
        margin-left: 10rem;
        margin-right: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .info ul li {
        margin-left:0;
        padding:0;
    }

    ul{
       ;
    }

    a{
        color:rgb(90, 23, 129);
        text-decoration: ;
        padding: 1rem;
    }

    iframe {
        margin-left: 10rem;
        margin-bottom: 10vh;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
    }

</style>
