---
import Layout from '../../../layouts/Layout.astro';
import Menu from '../../../components/menu.astro';
---

<Layout title="NECESSARY ">
    <div class="contenedor">
        <Menu></Menu>

        <section class="info">
            <h1>¿Qué es un driver?</h1>
            <p class="definicion">Un driver o controlador es un pequeño software que permite que el sistema operativo (como Windows o Linux) reconozca y controle un hardware específico. Sin este software, muchos componentes no funcionarían o lo harían de forma limitada.</p>

            <div class="resaltado">
                <p class="marcado">
                    Ejemplo: Si instalas Windows pero no hay driver de red, no tendrás acceso a Internet.
                </p>

            </div>
            
            <h2>  ¿Para qué sirven los drivers en el mantenimiento e instalación?</h2>
            <ul>
                <li> <strong></strong>Activar la tarjeta de video para mejor calidad gráfica.</li>
                <li> <strong></strong>Garantizar que el equipo esté 100% funcional después del mantenimiento.</li>
                <li> <strong></strong>Usar el adaptador Wi-Fi o Ethernet para conectarse a Internet.</li><br>
               
            </ul>

            <h2>¿Cómo instalar los drivers correctamente?</h2>
            <p class="definicion">existen diferentes maneras para instalar o actualizar drivers las mas comunes son: desde la pagina del fabricante , usando el administrador de dispositivos y usando paquetes automaticos (mi favorita)</p><br>

            <h2>Desde la pagina del fabricante</h2>
            <ul>
                <li> <strong></strong>Busca el modelo exacto del equipo (está en la etiqueta del portátil).</li>
                <li> <strong></strong>Entra a la página oficial del fabricante.</li>
                <li> <strong></strong>Ve a la sección de Soporte / Controladores / Descargas.</li>
                <li> <strong></strong>Descarga los drivers uno por uno: Chipset, Video, Red LAN / Wi-Fi ,Sonido, Touchpad (si aplica), BIOS (opcional)</li><br>
              
            </ul>

            <div class="resaltado">
                <p class="marcado">
                    Consejo: Descarga los drivers en una memoria USB antes de formatear el equipo y si tienes algun problenma con el touchpad (en portatiles) a veces se soluciona actualizando la microsoft store
                </p>
            </div>

            <h2>Usando el Administrador de dispositivos</h2>

            <img src="/imagenes/controlador.png" alt="" >
            <ul>
                <li> <strong></strong>Clic derecho sobre el dispositivo sin controlador (⚠️).</li>
                <li> <strong></strong>Selecciona Actualizar controlador.</li>
                <li> <strong></strong>Elegir: “Buscar automáticamente” (si tienes Internet). O “Buscar software en mi equipo” (si ya descargaste el driver).</li>
                <li> <strong></strong>Descarga los drivers uno por uno: Chipset, Video, Red LAN / Wi-Fi ,Sonido, Touchpad (si aplica), BIOS (opcional)</li><br>
              
            </ul>

            <h2> Paquetes automáticos (con precaución)</h2>
            <ul>
                <li> <strong>DriverPack Solution</strong>Instala automáticamente los drivers detectados</li>
                <li> <strong>SDI (Snappy Driver)</strong>Permite más control técnico y backup offline</li>
                <li> <strong>SlimDrivers / IObit</strong>Usar solo en pruebas o con conocimiento previo</li>
                <li> <strong>DriverBooster</strong>Personalmente te recomendamos este ya que es el que solemos usar </li><br>
              
            </ul>

            <div class="resaltado">
                <p class="marcado">
                    Consejo: Ten cuidado con los paquetes automáticos, ya que pueden instalar drivers incorrectos o versiones no oficiales. Siempre revisa qué se está instalando y crea un punto de restauración antes de usar estos programas.
                </p>
            </div>


        </section>
        
    </div>
  
</Layout>

<style>
.contenedor {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-bottom: 8rem;
    background-color:#101111cb;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:start;
    /* background-color: #101111cb; */
     max-width: 75rem;
}

    .info h1 {
        color: #14ff72;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        position:relative;
        margin-top: 5rem;
        margin-left: 10rem;
       
    }

    .definicion {
        color: #ffffff;
        font-size: 1rem;
        margin-left: 10rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
    }

    h2 {
        color: #14ff72;
        font-size: 1.8rem;
        margin-left: 10rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .info ul {
        color: #ffffff;
        font-size: 1rem;
        margin-left: 10rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
    }
    .marcado {
         color: #14ff72;
        font-size: 1rem;
        margin-left: .5rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
       
    }

    .resaltado {
        border-left: #14ff72 solid 3px;
        margin-left: 10rem;
        margin-right: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .info ul li {
        margin-left:0;
        padding:0;
    }

    ul{
       ;
    }

    a{
        color:rgb(90, 23, 129);
        text-decoration: ;
        padding: 1rem;
    }

    img{
        width: 60%;
        height: auto;
        padding-left: 10rem;
        border-radius: 5% 5% 5% 5%;
        margin-bottom: 1rem;

    }


</style>
