---
import Layout from '../../../layouts/Layout.astro';
import Menu from '../../../components/menu.astro';
---
<Layout title="NECESSARY ">
    <div class="contenedor">
        <Menu></Menu>

        <section class="info">
            <h1>¿Que es particionar un disco?</h1>
            <p class="definicion">Particionar un disco consiste en dividir el disco duro en partes lógicas llamadas particiones, como si crearas varios discos dentro de uno. Esto permite organizar mejor los archivos, instalar varios sistemas operativos o separar el sistema de los datos.</p>

            
            <h2>¿Es igual a Desfragmentar</h2>
            <p class="definicion">Particionar y desfragmentar son diferentes. Particionar crea secciones en el disco para organizar datos, mientras que desfragmentar reorganiza los datos dentro de una partición para que estén más juntos y el acceso sea más rápido. Al desfragmentar el disco este puede mejorar la velocidad </p>

            <h2>Como particionar un disco en Windows</h2>
            <ul>
                <li> <strong>Abre Administrador de discos</strong> Presiona Windows + X → elige administrador de disco  </li>
                <li> <strong>Seleccionar el disco</strong> Haz clic sobre el disco que quieres dividir</li>
                <li> <strong>Reducir volumen</strong> Elige reducir volumen...Luego ingresa cuanto espacio quieres liberar (en MB)</li>
                <li> <strong>Crear nueva partición</strong> Verás espacio “no asignado”. Haz clic derecho → Nuevo volumen simple...</li>
                <li> <strong>Sigue el asistente</strong>  asigna letra, nombre y formato (NTFS recomendado). </li><br>
            </ul>

             <img src="/imagenes/disco.png" alt="" >

                        <div class="resaltado">
                <p class="marcado">
                    Particionar el disco te permite organizar mejor tus archivos, instalar varios sistemas operativos o separar el sistema de los datos. Es una habilidad esencial para un Técnico en Sistemas, ya que facilita la gestión y optimización del almacenamiento en computadoras.
                </p>

            </div>

        </section>
        
    </div>
  
</Layout>

<style>
    .contenedor {
  
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin-bottom: 8rem;
  background-color:#101111cb ;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:start;
    /* background-color: #101111cb; */
     max-width: 75rem;
}

    .info h1 {
        color: #14ff72;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        position:relative;
        margin-top: 5rem;
        margin-left: 10rem;
    }

    .definicion {
        color: #ffffff;
        font-size: 1rem;
        margin-left: 10rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
    }

    h2 {
        color: #14ff72;
        font-size: 1.8rem;
        margin-left: 10rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .info ul {
        color: #ffffff;
        font-size: 1rem;
        margin-left: 10rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
    }
    .marcado {
         color: #14ff72;
        font-size: 1rem;
        margin-left: .5rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
       
    }

    .resaltado {
        border-left: #14ff72 solid 3px;
        margin-left: 10rem;
        margin-right: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .info ul li {
        margin-left:0;
        padding:0;
    }

    ul{
       ;
    }

    a{
        color:rgb(90, 23, 129);
        text-decoration: ;
        padding: 1rem;
    }

    img{
        width: 60%;
        height: auto;
        padding-left: 10rem;
        border-radius: 5% 5% 5% 5%;
        margin-bottom: 1rem;

    }

</style>
