---
import Layout from '../../../layouts/Layout.astro';
import Menu from '../../../components/menu.astro';
---
<Layout title="NECESSARY ">
    <div class="contenedor">
        <Menu></Menu>

        <section class="info">
            <h1>¿Que es el sistemas operativo?</h1>
            <p class="definicion">Es el software principal que permite que el computador funcione.
                Controla los recursos (memoria, procesador, dispositivos) y permite ejecutar programas.</p>

            
            <h2>Funciones principales</h2>
                <ul>
                    <li><strong>Administrar recursos</strong> procesador, memoria, disco y dispositivos.</li>
                    <li><strong>Ejecutar programas</strong> abre, cierra y controla las aplicaciones.</li>
                    <li><strong>Interfaz de usuario:</strong> permite comunicarse con el sistema (ventanas, iconos o consola).</li>
                </ul>

                <h2>Tipos de sistemas operativos </h2>
                <ul>
                    <li><strong>Monousuario</strong> Solo un usuario a la vez (MS-DOS)</li>
                    <li><strong>Multiusuario</strong> Varios usuarios al tiempo como Linux, Windows Server</li>
                    <li><strong>Monotarea</strong> Solo una tarea a la vez (MS-DOS)</li>
                    <li><strong>Multitarea</strong> Varias tareas al mismo tiempo como Windows, macOS</li>
                    <li><strong>De red</strong> Permiten comunicación entre equipos como Windows Server, Linux</li>
                    <li><strong>Movil</strong> Diseñados para celulares y tablets como Android o iOS</li>
                </ul>

            <div class="resaltado">
                <p class="marcado">
                  Puedes notar que Windows y macOS son los mas utilizados en computadoras personales, mientras que Linux es popular en servidores y sistemas embebidos. En móviles, Android domina el mercado global, aunque iOS es muy popular en ciertos países.
                </p>
            </div>

            <h2>Buenas prácticas</h2>
                <ul>
                    <li><strong>No instalar programas desconocidos.</strong> </li>
                    <li><strong>Usar contraseñas seguras.</strong> </li>
                    <li><strong>Hacer copias de seguridad.</strong> </li>
                    <li><strong>Mantener el sistema actualizado.</strong> </li>
                    <li><strong>Apagar correctamente el equipo.</strong> </li>
                </ul>

            <div class="resaltado">
                <p class="marcado">
                  Si quieres saber como instalar un sistema operativo, puedes buscar visitar nuestra secciom de buteo de sistemas operativos.
                  <a href="/clase/software/usb-boot" style="color: #d9dad9; "> instalar sistemas operativos</a>
                </p>

            </div>


        </section>

   
        
    </div>
  
</Layout>

<style>
.contenedor {
  
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-bottom: 8rem;
  background-color: #101111cb;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:start;
    /* background-color: #101111cb; */
     max-width: 75rem;
}

    .info h1 {
        color: #14ff72;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        position:relative;
        margin-top: 5rem;
        margin-left: 10rem;
    }

    .definicion {
        color: #ffffff;
        font-size: 1rem;
        margin-left: 10rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
    }

    h2 {
        color: #14ff72;
        font-size: 1.8rem;
        margin-left: 10rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .info ul {
        color: #ffffff;
        font-size: 1rem;
        margin-left: 10rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
    }
    .marcado {
         color: #14ff72;
        font-size: 1rem;
        margin-left: .5rem;
        margin-right: 10rem;
        line-height: 1.5;
        font-family: monospace;
       
    }

    .resaltado {
        border-left: #14ff72 solid 3px;
        margin-left: 10rem;
        margin-right: 1rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }


</style>