---
import Layout from '../layouts/Layout.astro';
import VolverInicio from '../components/volverInicio.astro';
---
<Layout title="NECESSARY">
<div class="contenedor">
   
    <h1 class="titulo">1.Instalación y configuración de sistemas operativos</h1>
      <p>Aprende a instalar y configurar sistemas operativos, software básico y herramientas necesarias para preparar y optimizar un equipo desde cero. </p>

      <h2 class="parte1 ">-Como crear una USB BOOTEABLE y configurar el arranque (con rufus) </h2>
        <p class="pasos1 ">
          -Debes tener una memoria USB de al menos 8 GB.
          <br>-Necesitas una imagen ISO del sistema operativo (Windows, Linux, etc.).
          <br>-El programa Rufus (gratuito): https://rufus.ie
          <br>-Luego instala la ultima version
          <br>-Conectar la USB (no debe tener informacion ya que va ser formateada) 
          <br>-ejecuta el rufus y selecciona la USB que quieres usar.
          <br>-en la comfiguracion de formato debes tener esto en cuenta:MBR si es para BIOS/UEFI antiguos y GPT si es para equipos modernos con UEFI.
          <br>-luego de le das en empezar,esperas a que termine el proceso y tu USB estara lista para usar.<br><br>

          <span> Despues terminar con este proceso debes configurar el arranque de tu equipo para que inicie desde la USB.Esto se hace entrenado a la BIOS de tu equipo ( el metado de acceso a la BIOS varía según el fabricante, pero generalmente se hace presionando teclas como F2, F10, DEL o ESC al encender el equipo).<br><br></span>

          -Una vez dentro de la BIOS, busca la sección de "Boot" o "Arranque".
          <br>-Asegúrate de que la USB esté configurada como el primer dispositivo de arranque.
          <br>-Guarda los cambios y reinicia el equipo.
          <br>-Tu equipo debería arrancar desde la USB y comenzar el proceso de instalación del sistema operativo.
          </p><br>



       <h1 class="titulo">2.Programas mas importantes y utilizados </h1>
       <p>Existe una gran variedad de programas que son ecenciales en nuestro campo de sistemas ya los usaremos constante mente</p>

        <h2 class="parte1">-Programas importantes</h2>
        <p class="pasos1">
          -Rufus: Crear USB booteables con sistemas operativos.<br>
          -WinRAR: Comprimir y descomprimir archivos.<br>
          -Microsoft office: Suite de productividad (Word, Excel, PowerPoint).<br>
          -CCleaner: Limpiar y optimizar el sistema.<br>
        </p><br>

          <h1 class="titulo">3.Conceptos de virtualización</h1>

        <VolverInicio />

  
</div>
</Layout>

<style>
  
    .contenedor{
        height: 1640px;
        width: 80%;
        margin-right: auto;
        margin-left:auto ;
        background-color: black;
        margin-top: 10px;
    }
    .titulo{
        font-size: 56px;
        text-align: center;
        color: #14ff72cb;
        margin-bottom: 30px;
    }
    h2{
        color:#14ff72cb;
        font-size: 35px;
        margin-top: 10px;
    }
    .parte1{
        margin-top: 40px;
    }

    p{
        color: #fff;
        font-size: 30px;
        margin-top: 30px;
        text-align: center;
    }
    .pasos1{
        margin-top: 20px;
        text-align:start;
        font-size: 25px;
    }

    span{
        color: #14ff72cb;
        font-size: 30px;
    }

</style>