---
import '@fontsource-variable/nabla';
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Modulos from '../components/Modulos.astro';
import Preguntas from '../components/preguntas.astro';

---

<Layout title="NECESSARY">

	<section class="header">
		<Header />
	</section>
	<section class="texto">
		<h1 class="inicio-mensaje">¡Conviértete en un Experto en Sistemas <br> Todo lo que Necesitas Saber!</h1>

	</section>

	<section class="modulos">
  		<Modulos />
	</section>

	<section class="preguntas">
		<h2>preguntas frecuentes</h2>
		<Preguntas />
	</section>

	<section class="nosotros">

	</section>
</Layout>
<style>
 section{
	background-color: aqua;
	/* height:98vh; */
	margin-bottom: 1px;
	width: 100%;
 }

 .header{
	height: 8vh;
	background-color:transparent;
 }
 .texto{
	align-items: center;
	justify-content: center;
	display: flex;
	height: 20vh;
	background-color: transparent;
 }

.inicio-mensaje{
	font-size:70px;
	color:#14ff72cb;
	text-align: center;

}
 .modulos {
  background: transparent;
  max-width: 100%;      /* Igual que .preguntas */
  margin: 0 auto;        /* Centrado horizontal */
  padding: 32px 5vw 48px 5vw; /* Espaciado responsivo */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-x: auto;
}
 .preguntas{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 h2 {
  font-size: 2rem;
  color: #14ff72cb;
  margin-bottom: 20px;}
  
</style>
