---
import '@fontsource-variable/nabla';
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Modulos from '../components/Modulos.astro';
import Preguntas from '../components/preguntas.astro';

---

<Layout title="NECESSARY">

	<!--encabezado y presentacion -->
	<section class="encabezado">
		<Header></Header>
	</section>

	<section class="inicio-text">
		<h1 id="inicio" class="inicio-mensaje">¡Conviértete en un Experto en Sistemas <br> Todo lo que Necesitas Saber!</h1>
	</section>


	<!-- modulos de aprendizaje--> 
	<section class="Modulos-p">
	<Modulos></Modulos>
	</section> 


	<!--preguntas frecuentes -->
	<section id="preguntas" class="preguntas">
		<h1 class="pregunta-titulo">Preguntas frecuentes </h1>
		<Preguntas></Preguntas>
	</section> 



</Layout>
<style>

	.inicio-text{
		padding-bottom: 50px;
	}
			
	h1{	
		font-size:70px;
		color:#14ff72cb;
		text-align: center;
		
	}

	.encabezado{
		height: 80px;
		width: 100%; 
		border-radius: 0 0 30px 30px ;
		background-color:transparent;

		.retro-computer{
			height:599px;
			width: 100%;
			border-radius: 0 0 30px 30px ;
		}
	}
	.Modulos-p{
		max-height:180;
		min-height:4vh;
		width: 90%;
		position: relative;
		margin-top: 20px ;
		padding-left: 5%;
		padding-right: 5%;
		max-resolution: 90%;
		background-color: aqua;
		/* padding-left:px; */
		
	
	}


	.preguntas{ 
		height: 300px;
		width: 100%;
		background-color:transparent;
		margin-top: 48%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.pregunta-titulo{
		margin-bottom: 10px;
		font-size: 50px;
}



</style>
