---
import '@fontsource-variable/nabla';
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Productos from '../components/Modulos.astro';
import Modulos from '../components/Modulos.astro';
import Preguntas from '../components/preguntas.astro';

---

<Layout title="NECESSARY">

	<!--encabezado y presentacion -->
	<div class="tecnico">
		<h1>¿QUIERES MEJORAR COMO TECNICO EN SISTEMAS?</h1>
	</div>

	<div class="inicio">
		<Header></Header>
		<img class="retro-computer" src="../../public/imagenes/Nfondo.jpg" alt="" >
	</div>

	<!--modulos de aprendizaje -->
	<div class="Modulos">
		<h1>MODULOS</h1>
	<Modulos></Modulos>
	</div>


	<!--preguntas frecuentes de la tecnica -->
	<div class="preguntas">
		<h1 class="pregunta-titulo">PREGUNTAS FRECUENTES</h1>
		<Preguntas></Preguntas>
	</div>

	


</Layout>
<style>
			
.tecnico{
		height: 230px;
		width: 640px;
		background-color:transparent;
		position: absolute;
		margin-top: 170px;
		z-index: 5000px;
		margin-left: 360px;
		border-radius: 30px 30px 0 30px;
	}
H1{
		font-size:70px;
		color:#14ff72cb;
		text-align: center;
	}
	.inicio{
		height: 599px;
		width: 100%; 
		border-radius: 0 0 30px 30px ;
		background-color:transparent;

		.retro-computer{
			height:599px;
			width: 100%;
			border-radius: 0 0 30px 30px ;
		}
	}
	.Modulos{
		height: 610px;
		width: 95%;
		margin-top: 20px ;
		margin-left: 30px;
	
	}


.preguntas{ 
	height: 300px;
	width: 100%;
	background-color:transparent;
	margin-top: 110px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
}

.pregunta-titulo{
	margin-bottom: 20px;
}
</style>
