---
import Layout from '../layouts/Layout.astro';
import VolverInicio from '../components/volverInicio.astro';
---
<Layout title="NECESSARY">
    <div class="contenedor">
    <h1 class="titulo">¿Qué es el Mantenimiento de Computadores?</h1>
    <p>El mantenimiento de computadores se refiere a todas las acciones que realizamos para mantener en óptimas condiciones los equipos informáticos, alargando su vida útil, evitando fallos inesperados y garantizando que funcionen de forma eficiente. Se divide en dos tipos principales:</p>

    <h2>¿Por Qué es Importante?</h2>
    <p>Un mantenimiento adecuado no solo prolonga la vida útil del equipo, sino que también reduce el riesgo de pérdida de datos y de tiempo por fallas, y mejora el rendimiento del computador. Además, permite detectar problemas potenciales antes de que se conviertan en algo grave</p>

    <h2>Elementos Básicos a Considerar</h2>
    <p>Limpieza de hardware: Los componentes de un computador acumulan polvo y suciedad, especialmente en zonas de ventilación. Este polvo puede causar sobrecalentamiento y daños en las piezas.</p>

        <p>Actualización y verificación de software: Mantener el sistema operativo y los programas actualizados ayuda a proteger el equipo de vulnerabilidades y errores.</p>

        <p>Revisión de cables y conexiones: Asegurarse de que todos los cables estén en buen estado y bien conectados.</p>

        <p>Revisión de la temperatura: Los componentes como el procesador y la tarjeta gráfica generan calor, y si no se mantienen a una temperatura adecuada, pueden sufrir daños. Es importante asegurarse de que el sistema de enfriamiento funcione correctamente.</p>

        <p>Verificación de estado del disco duro o SSD: Revisar el estado de las unidades de almacenamiento regularmente para evitar fallas que lleven a la pérdida de datos.</p>

    </div>
    <VolverInicio />
    </Layout>
    
    <style>
        .contenedor{
            height: 1000px;
            width: 80%;
            margin-right: auto;
            margin-left:auto ;
            background-color: black;
            margin-top: 10px;
        }

        h2{
        color:#14ff72cb;
        font-size: 35px;
        margin-top: 10px;
    }
    p{
        color: #fff;
        font-size: 30px;
        margin-top: 30px;

    }
    .titulo{
        font-size: 56px;
        text-align: center;
        color: #14ff72cb;
        margin-bottom: 30px;
    }


    </style>