---

---
<header class="header">
    <div class="logo">
        <img src="../../public/imagenes/lo.png" alt="Logo de la marca">
        
    </div>
    <nav>
       <ul class="links">
            <a class="ui-btn" href="#preguntas"><button>Preguntas</button></a>
            <a class="ui-btn" href="/galeria"><button>Galeria</button></a>
            <a class="ui-btn" href="#"><button>Recursos</button></a>
       </ul>            
    </nav>
</header>

<style>
    *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    font-size: 25px;
   
}


.header{
    background-color:antiquewhite;
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    justify-content: center;

                    
    background: rgba(76, 76, 78, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(6px);
    position: fixed;
    z-index: 10;
    border-radius: 0 0 20px 20px;
}

.header .logo{
    cursor: pointer;
    order: 3;
  
}

.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;   
    margin-top: 3px;
}

.header .logo img:hover{
    transform: scale(1.1);
}


.header .links{
    list-style: none;
}

.header .links li:hover{
    transform: scale(1.1);
}

.header .links a{
    font-size: 700;
    color: #000;
    text-decoration: none;    
}

.header .links li a:hover{
    color: #8a7fe1;
}

.header .ui-btn{
    order: 1;
}

.header .ui-btn button{
    font-weight: 500;
    color: #14ff72cb;
    padding: 2px 20px;
    background: transparent;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .ui-btn button:hover{
    background-color: #171717;
    color: #14ff72cb;
    transform: scale(1.0);
}

</style>