---
import '@fontsource-variable/nabla';
import VolverInicio from '../components/volverInicio.astro';
---

<section class="menu">
    <VolverInicio></VolverInicio>
</section>

<style>
    .menu{
  position:static;
  height: auto;
   width: 30%;
  background: linear-gradient(to left, #101111cb, #000000cb);
  
  }

</style>