---
import '@fontsource-variable/nabla';
import Layout from '../layouts/Layout.astro';
import VerMas from '../components/VerMas.astro';
---
<section class="slider">


	<div class="list">

		<div class="item">
			<img src="../../public/imagenes/hadwareee.jpg" alt="">

			<div class="content">
				<p class="title">fundamentos del</d>
				<p class="type">SOFTWARE</>
				<p class="description-oscuro"> <!--esta debe ser negro porque el fondo es muy claro  -->
				
				</d>
				<div class="button">
                    <VerMas enlace="/software"/>
				</div>
			</div>
		</div>

		<div class="item">
			<img src="../../public/imagenes/redes.png" alt="">

			<div class="content">
				<div class="title">REDES Y CONECTIVIDAD</div>
				<div class="type">FUNDAMENTOS</div>
				<div class="description">
					Conéctate al mundo de las redes: conoce los elementos clave para crear y gestionar conexiones seguras y eficientes.
				</div>
				<div class="button">
                    <VerMas enlace="/redes" />
				</div>
			</div>
		</div>

		<div class="item">
			<img src="../../public/imagenes/mantenimiento.png" alt="">

			<div class="content">
				<div class="title">MANTENIMIENTO DE </div>
				<div class="type">EQUIPOS</div>
				<div class="description-oscuro" > <!--esta debe ser negro porque el fondo es muy claro  -->
					Optimiza el rendimiento y extiende la vida útil de los sistemas. Aprende a diagnosticar, reparar y prevenir fallos.
				</div>
				<div class="button">
					<VerMas enlace="/mantenimiento" />
				</div>
			</div>
		</div>

		<div class="item">
			<img src="../../public/imagenes/privacidad.jpg" alt="">

			<div class="content">
				<div class="title">SEGURIDAD INFORMATICA </div>
				<div class="type">BASICA</div>
				<div class="description">
					Protege la información y los sistemas de amenazas. Domina los principios de seguridad para un entorno digital confiable.
				</div>
				<div class="button">
					<VerMas enlace="/seguridad" />
				</div>
			</div>
		</div>

	</div>


	<div class="thumbnail">
		<div class="item">
		</div>
	</div>


	<div class="nextPrevArrows">
		<button class="prev"> ⤎ </button>
		<button class="next"> ⤏ </button>
        <i class="fa-solid fa-arrow-right"></i>
	</div>


</section>


<script>
let nextBtn = document.querySelector('.next')
let prevBtn = document.querySelector('.prev')

let slider = document.querySelector('.slider')
let sliderList = slider?.querySelector('.slider .list')
let thumbnail = document.querySelector('.slider .thumbnail')
let thumbnailItems = thumbnail?.querySelectorAll('.item')

if (thumbnailItems && thumbnailItems.length > 0) {
    thumbnail?.appendChild(thumbnailItems[0])
}

// Function for next button 
if (nextBtn) {
    (nextBtn as HTMLButtonElement).onclick = function() {
        moveSlider('next')
    }
}

// Function for prev button 
if (prevBtn) {
    (prevBtn as HTMLButtonElement).onclick = function() {
        moveSlider('prev')
    }
}

function moveSlider(direction: 'next' | 'prev') {
    let sliderItems = sliderList?.querySelectorAll('.item')
    let thumbnailItems = document.querySelectorAll('.thumbnail .item')
    
    if (sliderItems && thumbnailItems) {
        if(direction === 'next'){
            sliderList?.appendChild(sliderItems[0])
            thumbnail?.appendChild(thumbnailItems[0])
            slider?.classList.add('next')
        } else {
            sliderList?.prepend(sliderItems[sliderItems.length - 1])
            thumbnail?.prepend(thumbnailItems[thumbnailItems.length - 1])
            slider?.classList.add('prev')
        }

        slider?.addEventListener('animationend', function() {
            if(direction === 'next'){
                slider?.classList.remove('next')
            } else {
                slider?.classList.remove('prev')
            }
        }, {once: true}) // Remove the event listener after it's triggered once
    }
}
</script>



 <style>
	.slider{
    min-height:88vh;
    /* max-width:90vh ; */
    width: 90%;
    overflow: hidden;
    position: absolute;
	margin-top: -28px;
    margin-bottom: 40%;
    border-radius:30px  ;
    
}

.description{
    font-size: 20px;
    color: #e4e0e7;
    box-shadow: #000;  
}

.description-oscuro{
    font-size: 25px;
    color: #797373;    
}
.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 30px;

}
.slider .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    /* background-color: #6c20a6; */
    transform: translateX(-50%);
    padding-right: 20%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
    
}

.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.1em;
}


.slider .list .item .type{
    color: #14ff72cb;
}

.slider .list .item .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.slider .list .item .button button{
    border: none;
    background-color: #fff;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;
    border-radius: 30px 30px;
} 


/* .slider .list .item .button button:hover{
    letter-spacing: 10px;
} */

/* .slider .list .item .button button:nth-child(2){
    background-color: transparent;
    border: 30px solid #fff;
    color: #eee;
} */



/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 90%;
    right: 26%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 20px;
    align-items:flex-start;
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #14ff72cb;
    border: none;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #6c20a6;
    color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/* .slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
} */
.slider.prev .list .item img{
    z-index: 100;
}

.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}


/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}

 </style>