<a href="/" style="text-decoration: none;">
    <button style="
      padding: 10px 20px;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
      margin-left: 420px;
      margin-bottom: 5px;
    ">
      Volver a la Página Principal
    </button>
  </a>