---
import Layout from '../../layouts/Layout.astro';
import Menu from '../../components/menu.astro';
---
<Layout title="NECESSARY ">
    <div class="contenedor">
        <Menu></Menu>
        
    </div>
  
</Layout>